<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!--namespace：代表这个文件的命名空间，根据这个名称可以定位到这个文件  -->
<mapper namespace="com.zhiyou.mapper.SpeakerMapper">

       <resultMap type="speaker" id="speakerMap">
    	<id column="id" property="id"/>
    	<id column="Speaker_name" property="speaker_name"/>
  	 	<id column="Speaker_desc" property="speaker_desc"/>
    	<result column="speaker_job" property="speaker_job"/>
    	<result column="pic_url" property="pic_url"/>
    </resultMap>  
     <!--通过id查询  -->
     <select id="selectByID" resultMap="speakerMap">
         select * from speaker where id=#{id}
     </select>
     <select id="selectBySpeakerid" resultMap="speakerMap">
  	 	select * from speaker where id=#{id}	
  	 </select> 
  	 
  	 <select resultType="speaker" id="selectAll">select * from speaker where speaker_name like '%' #{2} '%' limit #{0},#{1} </select>

     <insert id="add" parameterType="speaker">insert into speaker values (#{id},#{speaker_name},#{speaker_desc},#{speaker_job},#{pic_url}) </insert>

     <insert id="update" parameterType="speaker">update speaker set speaker_name=#{speaker_name},speaker_desc=#{speaker_desc},speaker_job=#{speaker_job},pic_url=#{pic_url} where id=#{id} </insert>

     <delete id="delete">delete from speaker where id=#{id} </delete>
     
     <select resultType="integer" id="selectCount">select count(*) from speaker where speaker_name like '%' #{0} '%' </select>


	<delete id="removeCourse" parameterType="list">
		DELETE FROM speaker WHERE id IN
		<foreach close=")" separator="," open="(" item="id"
			collection="userIdList">#{id} </foreach>	
	</delete>
	  	

        
     
</mapper>  