<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!--namespace：代表这个文件的命名空间，根据这个名称可以定位到这个文件  -->
<mapper namespace="com.zhiyou.mapper.VideoMapper">

       <resultMap type="video" id="videoMap">
    	<id column="video_id" property="video_id"/>
    	<id column="title" property="title"/>
		<id column="speaker_id" property="speaker_id"/>
		<id column="course_id" property="course_id"/>
    	
    	<result column="detail" property="detail"/>
    	<result column="time" property="time"/>        	
    	<result column="video_url" property="video_url"/>
    	<result column="image_url" property="image_url"/>
    	<result column="play_num" property="play_num"/>
    </resultMap>  
  	
<select id="selectByVideoid" resultMap="videoMap" >select * from video where video_id=#{video_id}</select>

<select resultType="video" id="selectAll">select * from video where title like '%' #{2} '%' limit #{0},#{1} </select>

<select resultType="integer" id="selectCount">select count(*) from video where title like '%' #{0} '%' </select>

<select resultType="subject" id="selectSubject">select * from subject </select>

<select resultType="speaker" id="selectSpeaker">select * from speaker </select>

<select resultType="subject" id="selectSubjectByName">select * from subject where subject_name=#{subject_name} </select>

<select resultType="speaker" id="selectSpeakerByName">select * from speaker where speaker_name=#{speaker_name} </select>

<insert id="add" parameterType="video">insert into video values(#{video_id},#{title},#{detail},#{time},#{speaker_id},#{course_id},#{video_url},#{image_url},#{play_num}) </insert>

<delete id="delete">delete from video where video_id=#{xxx} </delete>

<select resultType="video" id="selectByID">select * from video where video_id=#{video_id} </select>

<insert id="update" parameterType="video">update video set title=#{title},detail=#{detail},time=#{time},speaker_id=#{speaker_id},course_id=#{course_id},video_url=#{video_url},image_url=#{image_url},play_num=#{play_num} where video_id=#{video_id} </insert>


<delete id="removeCourse" parameterType="list">
DELETE FROM video WHERE video_id IN 
<foreach close=")" separator="," open="(" item="id" collection="userIdList">#{id} </foreach>
</delete>

<!-- 获取视频地址和教师姓名 -->
<resultMap id="videoUrlMap" type="video">
<id property="video_id" column="Video_id"/>
<result property="title" column="Title"/>
<result property="detail" column="Detail"/>
<result property="time" column="Time"/>
<result property="speaker_id" column="Speaker_id"/>
<result property="course_id" column="Course_id"/>
<result property="video_url" column="Video_url"/>
<result property="image_url" column="Image_url"/>
<result property="play_num" column="Play_num"/>

<collection property="speaker" ofType="com.zhiyou.model.Speaker">
<id property="id" column="Id"/>
<result property="speaker_name" column="Speaker_name"/>
<result property="speaker_desc" column="Speaker_desc"/>
<result property="speaker_job" column="Speaker_job"/>
<result property="pic_url" column="Pic_url"/>
</collection>
</resultMap>

<select id="selectVideoUrl" resultMap="videoUrlMap">
select * from video v,speaker s where v.video_id = #{video_id} and s.id = v.speaker_id 
</select>
 
 
<!-- 查询课程信息和教师信息 -->
<resultMap id="selectAllMap" type="video">
<id property="video_id" column="Video_id"/>
<result property="title" column="Title"/>
<result property="detail" column="Detail"/>
<result property="time" column="Time"/>
<result property="speaker_id" column="Speaker_id"/>
<result property="course_id" column="Course_id"/>
<result property="video_url" column="Video_url"/>
<result property="image_url" column="Image_url"/>
<result property="play_num" column="Play_num"/>

<collection property="course" ofType="com.zhiyou.model.Course">
<id property="id" column="Id"/>
<result property="course_title" column="Course_title"/>
<result property="course_desc" column="Course_desc"/>
<result property="subject_id" column="Subject_id"/>
</collection>


<collection property="speaker" ofType="com.zhiyou.model.Speaker">
<id property="id" column="Id"/>
<result property="speaker_name" column="Speaker_name"/>
<result property="speaker_desc" column="Speaker_desc"/>
<result property="speaker_job" column="Speaker_job"/>
<result property="pic_url" column="Pic_url"/>
</collection>
</resultMap>

<select id="selectAlls" resultMap="selectAllMap">
select * from video v,course c,speaker s where c.subject_id = #{1} AND c.id = v.course_id and v.speaker_id = s.id 
</select>           
</mapper>  